
@{
    ViewData["Title"] = "UserManager";
}

<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">用户管理</a>
        </li>
        <li class="active">用户信息</li>
    </ul><!-- /.breadcrumb -->
    <!-- #section:basics/content.searchbox -->


    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div id="enterprisetools">
                    <div>
                            <div class="widget-box ui-sortable-handle " >
                                <div class="widget-header">
                                    <h5 class="widget-title">查询区</h5>

                                    <!-- #section:custom/widget-box.toolbar -->
                                    <div class="widget-toolbar">

                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>

                                    <!-- /section:custom/widget-box.toolbar -->
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table style="border-spacing:10px;  border-collapse:separate;" width="100%" >
                                            <tr>
                                                <td>账户名：</td>
                                                <td>
                                                    <input type="text" class="input-sm" id="txt_slbh" name="txt_slbh" />
                                                </td>
                                                <td>用户姓名：</td>
                                                <td>
                                                    <input type="text" class="input-sm" id="txt_xfr" name="txt_xfr" />
                                                </td>
                                                <td>是否有效：</td>
                                                <td>
                                                    <select id="txt_zycd" name="txt_zycd" class="input-sm">
                                                        <option value="">请选择</option>
                                                        <option value="Y">有效</option>
                                                        <option value="N">无效</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td colspan="8" style="text-align:right">
                                                    <button class="btn btn-primary btn-xs btn-round">
                                                        <i class="ace-icon fa fa-search align-top bigger-125"></i>
                                                        查询
                                                    </button>
                                                    <button class="btn btn-success btn-xs btn-round">
                                                        <i class="ace-icon fa fa-plus-square align-top bigger-125"></i>
                                                        添加
                                                    </button>
                                                    <button class="btn btn-yellow btn-xs btn-round">
                                                        <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
                                                        编辑
                                                    </button>
                                                    <button class="btn btn-danger btn-xs btn-round">
                                                        <i class="ace-icon fa fa-trash align-top bigger-125"></i>
                                                        删除
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="@(ViewBag.guid == "" ? "" : ViewBag.guid)" name="guid">
                    </div>
                    <!-- /section:basics/content.searchbox -->
                </div>
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
    @section scripts{

        <script type="text/javascript">
            jQuery(function ($) {
                var grid_selector = "#grid-table";
                var pager_selector = "#grid-pager";
                $("#grid-table").jqGrid(
                    {
                        autowidth: true,
                        url: '@Url.Action("UserSelect","Home")',//组件创建完成之后请求数据的url
                        datatype: "json",//请求数据返回的类型。可选json,xml,txt
                        colNames: ['id', '登陆名', '用户名', '手机号', 'Email', '性别', '是否有效','查看详情'],//jqGrid的列显示名字
                        colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
       
                            { name: 'id', index: 'id', width: 60, sorttype: "int", hidden:true },
                            { name: 'loginname', index: 'loginname', width: 90 },
                            { name: 'name', index: 'name', width: 150,  },
                            { name: 'mobile', index: 'mobile', width: 70 },
                            { name: 'email', index: 'email', width: 90},
                            {
                                name: 'sex', index: 'sex', width: 150, sortable: false, formatter: function (cellvalue, options, rowObject) {
                                    var temp = "男"
                                    if (!cellvalue) {

                                        temp = "女"
                                    }
                                    return temp;
                                }
                            },
                            {
                                name: 'validYN', index: 'validYN', width: 90, formatter: function (cellvalue, options, rowObject) {
                                    var temp = "有效"
                                    if (cellvalue=='n') {

                                        temp = "无效"
                                    }
                                    return temp;
                                }
                            },
                            {
                                name: '查看', index: '查看', width: 90, formatter: function (cellvalue, options, rowObject) {
                                    var html = '<button class="btn btn-success btn-xs btn-round"><i class="ace-icon fa fa-search-plus"></i>查看详情</button>';
                                    return html;
                                }
                            }
                            
                        ],
                        rowNum: 10,//一页显示多少条
                        rowList: [10, 20, 30],//可供用户选择一页显示多少条
                        pager: '#grid-pager',//表格页脚的占位符(一般是div)的id
                        sortname: 'id',//初始化的时候排序的字段
                        sortorder: "desc",//排序方式,可选desc,asc
                        mtype: "post",//向后台请求数据的ajax的类型。可选post,get
                        viewrecords: true,
                        caption: "用户列表"//表格的标题名字
                    });
                $.post('@Url.Action("UserSelect","Home")', "", function (date) {
                    alert(date)

                });
            });

            //查询数据
            function Selectdate() {


            }
        </script>

    }
