<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GZY_CMS</title>
    <link rel="stylesheet" href="~/Ace/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Ace/components/font-awesome/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link href="~/Ace/components/select2/dist/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Ace/components/_mod/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/Ace/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Ace/components/_mod/jqgrid/ui.jqgrid.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Ace/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Ace/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Ace/assets/css/ace-rtl.css" />
    <link href="~/css/validformstyle.css" rel="stylesheet" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Ace/assets/js/ace-extra.js"></script>


    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">

    @RenderBody()




    <!--[if !IE]> -->
    @*<script src="~/Ace/components/jquery/dist/jquery.js"></script>*@

    <!-- <![endif]-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!--[if IE]>
    <script src="../components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    @* <script src="~/Ace/components/jquery/dist/jquery.js"></script>*@
    <script src="~/Ace/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Ace/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
    <script src="~/Ace/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Ace/components/_mod/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Ace/components/jquery.sparkline/index.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.pie.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.resize.js"></script>
    <script src="~/Ace/components/jquery-ui/jquery-ui.js"></script>
    <script src="~/Ace/components/jqGrid/js/jquery.jqGrid.js"></script>
    <script src="~/Ace/components/jquery-ui/ui/i18n/datepicker-zh-CN.js"></script>
    <script src="~/Ace/components/jqGrid/js/i18n/grid.locale-cn.js"></script>
    <script src="~/Ace/components/select2/dist/js/select2.js"></script>
    <script src="~/Ace/components/select2/dist/js/i18n/zh-CN.js"></script>
    <!-- ace scripts -->
    <script src="~/Ace/assets/js/src/elements.scroller.js"></script>
    <script src="~/Ace/assets/js/src/elements.colorpicker.js"></script>
    <script src="~/Ace/assets/js/src/elements.fileinput.js"></script>
    <script src="~/Ace/assets/js/src/elements.typeahead.js"></script>
    <script src="~/Ace/assets/js/src/elements.wysiwyg.js"></script>
    <script src="~/Ace/assets/js/src/elements.spinner.js"></script>
    <script src="~/Ace/assets/js/src/elements.treeview.js"></script>
    <script src="~/Ace/assets/js/src/elements.wizard.js"></script>
    <script src="~/Ace/assets/js/src/elements.aside.js"></script>
    <script src="~/Ace/assets/js/src/ace.js"></script>
    <script src="~/Ace/assets/js/src/ace.basics.js"></script>
    <script src="~/Ace/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Ace/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Ace/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Ace/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Ace/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Ace/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Ace/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Ace/assets/js/src/ace.widget-on-reload.js"></script>
    <script src="~/Ace/assets/js/src/ace.searchbox-autocomplete.js"></script>
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/Ajaxhook/ajaxhook.js"></script>
    <script src="~/js/Validform/Validform_v5.3.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".JQdatepicker").attr("readonly", "readonly");
            $(".JQdatepicker").datepicker({
                //changeMonth: true,
                changeYear: true,
                yearRange: "1990:2050",
                onClose: function (selectedDate, drq) {
                    $("#" + drq.id).blur()
                    // 日期验证
                }
            });
            var loadinfo

            hookAjax({
                onreadystatechange: function (xhr) {
                    console.log("onreadystatechange called: %O", xhr)
                },
                onload: function (xhr) {
                    layer.close(loadinfo);
                    console.log("onload called")
                    try {
                        if (xhr.status != 200) {
                            if (xhr.status == 500) {
                                var jsondate = $.parseJSON(xhr.responseText);
                                layer.alert("发生异常的错误!信息:" + xhr.status + jsondate.message, { icon: 5 });
                                return true;

                            }
                            layer.alert("发生异常的错误!状态码:" + xhr.status, { icon: 5 });
                            return true;
                        }
                        var jsondate = $.parseJSON(xhr.responseText);
                        if (jsondate.type == 3) {

                            layer.alert("系统错误!信息:" + jsondate.message, { icon: 5 });
                            return true;
                        }
                        if (jsondate.code == 0) {
                            layer.alert("系统消息!信息:" + jsondate.message, { icon: 6 });
                            xhr.responseText = JSON.stringify(jsondate.code);
                            return false;
                        }
                        if (jsondate.code == -1) {
                            layer.alert("系统消息!信息:" + jsondate.message, { icon: 5 });
                            xhr.responseText = JSON.stringify(jsondate.code);
                            return false;
                        }
                        xhr.responseText = JSON.stringify(jsondate.resultdata);

                    } catch (e) {
                        layer.alert("解析错误!信息:" + e.message, { icon: 5 });
                        return true;
                    }
                    //return true;
                },
                open: function (arg) {
                    loadinfo = layer.load('加载中',
                        {
                            icon: 1
                            , shade: [0.5, '#fff']
                        });
                    console.log("open called: method:%s,url:%s,async:%s", arg[0], arg[1], arg[2])
                },
                send: function (arg) {
                    console.log("send called: %O", arg[0])
                },
                ontimeout: function (xhr) {
                    layer.alert("系统响应超时!", { icon: 5 });
                }
            })


        })
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
