<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GZY_CMS</title>
    <link rel="stylesheet" href="~/Ace/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Ace/components/font-awesome/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Ace/components/_mod/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/Ace/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Ace/components/_mod/jqgrid/ui.jqgrid.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Ace/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Ace/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="~/Ace/assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Ace/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">

    @RenderBody()




    <!--[if !IE]> -->
    @*<script src="~/Ace/components/jquery/dist/jquery.js"></script>*@

    <!-- <![endif]-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!--[if IE]>
    <script src="../components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    @* <script src="~/Ace/components/jquery/dist/jquery.js"></script>*@
    <script src="~/Ace/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Ace/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
    <script src="~/Ace/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Ace/components/_mod/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Ace/components/jquery.sparkline/index.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.pie.js"></script>
    <script src="~/Ace/components/Flot/jquery.flot.resize.js"></script>
    <script src="~/Ace/components/jquery-ui/jquery-ui.js"></script>
    <script src="~/Ace/components/jqGrid/js/jquery.jqGrid.js"></script>
    <script src="~/Ace/components/jquery-ui/ui/i18n/datepicker-zh-CN.js"></script>
    <script src="~/Ace/components/jqGrid/js/i18n/grid.locale-cn.js"></script>

    <!-- ace scripts -->
    <script src="~/Ace/assets/js/src/elements.scroller.js"></script>
    <script src="~/Ace/assets/js/src/elements.colorpicker.js"></script>
    <script src="~/Ace/assets/js/src/elements.fileinput.js"></script>
    <script src="~/Ace/assets/js/src/elements.typeahead.js"></script>
    <script src="~/Ace/assets/js/src/elements.wysiwyg.js"></script>
    <script src="~/Ace/assets/js/src/elements.spinner.js"></script>
    <script src="~/Ace/assets/js/src/elements.treeview.js"></script>
    <script src="~/Ace/assets/js/src/elements.wizard.js"></script>
    <script src="~/Ace/assets/js/src/elements.aside.js"></script>
    <script src="~/Ace/assets/js/src/ace.js"></script>
    <script src="~/Ace/assets/js/src/ace.basics.js"></script>
    <script src="~/Ace/assets/js/src/ace.scrolltop.js"></script>
    <script src="~/Ace/assets/js/src/ace.ajax-content.js"></script>
    <script src="~/Ace/assets/js/src/ace.touch-drag.js"></script>
    <script src="~/Ace/assets/js/src/ace.sidebar.js"></script>
    <script src="~/Ace/assets/js/src/ace.sidebar-scroll-1.js"></script>
    <script src="~/Ace/assets/js/src/ace.submenu-hover.js"></script>
    <script src="~/Ace/assets/js/src/ace.widget-box.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings-rtl.js"></script>
    <script src="~/Ace/assets/js/src/ace.settings-skin.js"></script>
    <script src="~/Ace/assets/js/src/ace.widget-on-reload.js"></script>
    <script src="~/Ace/assets/js/src/ace.searchbox-autocomplete.js"></script>
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script>
        $(function () {
            $(".JQdatepicker").attr("readonly", "readonly");
            $(".JQdatepicker").datepicker({
                //changeMonth: true,
                changeYear: true,
                yearRange: "1990:2050",
                onClose: function (selectedDate, drq) {
                    $("#" + drq.id).blur()
                    // 日期验证
                }
            });
            var loadinfo
            $.ajaxSetup({
                cache: false,
                //请求失败遇到异常触发
                error: function (xhr, status, e) {
                    layer.close(loadinfo); 
                    if (e == null) {
                        e = "未知错误"
                    }
                    layer.alert("发生异常的错误!信息:" + e, { icon: 5 });
                },
                //完成请求后触发。即在success或error触发后触发
                complete: function (xhr, status) {
                    layer.close(loadinfo); 
                },
                //发送请求前触发
                beforeSend: function (xhr) {
                    loadinfo = layer.load('加载中',
                        {
                            icon: 1
                            , shade: [0.5, '#fff']
                        });
                },
            })
        })
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
